.imgContainer{
    position: relative;
    height: 300px;
    margin: 25px 0;
}
.image{
    object-fit: cover;
    border-radius: 15px;
}
.title{
    font-size: 40px;
    margin-bottom: 25px;
}
.des{
    font-size: 18px;
}
.author{
    position: absolute;
    background-color: var(--color-primary);
    color: white;
    padding: 5px 10px;
    bottom: 0;
    right: 0;
}
.text{
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    columns: 2;
    column-gap: 50px;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}